* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: black;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica';
}

body {
  margin: 0;
  padding: 0;
  background: black;
  font-size: 18px;
  height: 100%;
}

p {
  margin: 0.25em 0;
  padding: 0;
}

.item-wrapper {
  background-color: #111;
  color: white;
  float: left;
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}

.item-front, .item-back, .add {
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.5),
    inset -1px -1px 1px rgba(0,0,0,0.25);
  height: 100%;
  padding: 10%;
  position: absolute;
  width: 100%;
}

.item-front {
  background-color: #1481f8;
}

.item-counter {
  font-size: 72px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  height: 0;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0;
}

.item-back {
  display: none;
  background-color: #005826;
  font-size: 14px;
}

.item-wrapper.show-back .item-front {
  display: none;
}

.item-wrapper.show-back .item-back {
  display: block;
}

.reset {
  background-color: red;
}

.destroy {
  background-color: maroon;
}

.new-item {
  position: absolute;
  background: #f3ea00;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 1em 0
}

.new-item input {
  -webkit-appearance: none;
  border: none;
  -webkit-border-radius: 4px;
  font: inherit;
  font-size: 24px;
  margin: 0 auto 1em;
}

.new-item input[type="text"] {
  display: block;
  clear: both;
  padding: 0.5em;
}

.new-item input[type="submit"] {
  background: blue;
  color: white;
  display: block;
  float: right;
  margin: 0 0.5em;
  padding: 12px 2em;
  line-height: 24px;
}

.new-item .cancel {
  color: black;
  display: block;
  float: left;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 1em;
  vertical-align: bottom;
  text-decoration: none;
}

.add {
  background-color: #f3ea00;
  background-image: url('../glyphicons_190_circle_plus@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}