* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: black;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica';
}

body {
  margin: 0;
  padding: 0;
  background: black;
  font-size: 18px;
  height: 100%;
}

p {
  margin: 0.25em 0;
  padding: 0;
}

.item-wrapper {
  background-color: #333;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), inset -1px -1px 3px rgba(0,0,0,0.5);
  float: left;
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}

.item-front, .item-back, .add {
  height: 100%;
  padding: 10%;
  position: absolute;
  width: 100%;
}

.item-front {
  background-color: #1481f8;
}

.item-wrapper:nth-child(4n) .item-front,
.item-wrapper:nth-child(4n+1) .item-front {
  background-image: url('../screen.png');
}

.item-counter {
  font-size: 72px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  height: 0;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0;
}

.item-back {
  background-color: #005826;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4), inset -1px -1px 3px rgba(0,0,0,0.4);
  display: none;
  font-size: 14px;
}

.item-wrapper.show-back .item-front {
  display: none;
}

.item-wrapper.show-back .item-back {
  display: block;
}

.reset, .destroy {
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5), inset -1px -1px 3px rgba(0,0,0,0.5);
}

.reset {
  background-color: #1481f8;
}

.destroy {
  background-color: red;
}

.new-item {
  position: absolute;
  background: #f3ea00;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 1em 0
}

.new-item input {
  -webkit-appearance: none;
  border: none;
  -webkit-border-radius: 4px;
  font: inherit;
  font-size: 24px;
  margin: 0 auto 1em;
}

.new-item input[type="text"] {
  display: block;
  clear: both;
  padding: 0.5em;
}

.new-item input[type="submit"] {
  background: blue;
  color: white;
  display: block;
  float: right;
  margin: 0 0.5em;
  padding: 12px 2em;
  line-height: 24px;
}

.new-item .cancel {
  color: black;
  display: block;
  float: left;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 1em;
  vertical-align: bottom;
  text-decoration: none;
}

.add {
  background-color: #f3ea00;
  background-image: url('../glyphicons_190_circle_plus@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* THEME */
.theme_plant { color: #ffffff; }
.theme_plant.count_0 { background-color: rgb(2,   106,  31); }
.theme_plant.count_1 { background-color: rgb(0,   143,  10); }
.theme_plant.count_2 { background-color: rgb(35,  189,  48); }
.theme_plant.count_3 { background-color: rgb(141, 198,  63); }
.theme_plant.count_4 { background-color: rgb(215, 223,  35); }
.theme_plant.count_5 { background-color: rgb(139,  94,  60); }
.theme_plant.count_6 { background-color: rgb(117,  76,  41); }
.theme_plant.count_7 { background-color: rgb(71,   44,  25); }
.item-back.theme_plant { background-color: rgb(16,   86,  10); }